body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #522d5b;
  font-size: 24px;
}

.current-time-here {
  margin: 11px;
}

.form-area {
  padding: 15px;
}
h2 {
  font-size: 30px;
}

li {
  list-style: none;
  font-size: 18px;
}

.temperature {
  font-size: 55px;
}

.unit {
  position: relative;
  top: -25px;
}

.weather-icon {
  size: 50px;
}
