body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: #522d5b;
  padding: 30px;
}

.border {
  border: solid 1px #faf1bd;
  border-radius: 12px;
  max-width: 570px;
  margin: 12px;
}

h1 {
  color: #522d5b;
  font-size: 24px;
}

.current-time-here {
  margin: 11px;
}

.form-area {
  padding: 15px;
}

.type-city {
  border-radius: 5px;
  border-right-color: #fee140;
  border-top: #fee140;
  border-left-color: #fa709a;
  border-bottom-color: #fa709a;
}

.click-search {
  color: orange;
  background-color: #522d5b;
  border-radius: 12px;
  border: 2px;
  border-color: #fa709a;
}

h2 {
  color: #522d5b;
  font-size: 28px;
  padding-top: 20px;
}

ul {
  color: #522d5b;
}

li {
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 5px;
}

.temperature {
  font-size: 52px;
}

.unit {
  position: relative;
  top: -30px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.weather-icon {
  position: relative;
  top: -10px;
  color: #522d5b;
}

.btn {
  background-color: #f7aa1b;
  border-radius: 15px;
  border: solid 2px #f18baa;
  font-size: 20px;
  padding: 4px;
  margin-top: -3px;
}

footer {
  font-size: 15px;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  color: #774285;
}

.weather-forecast-date {
  font-size: 18px;
}

.weather-forecast-temp {
  font-size: 13px;
}
