body {
  font-family: Arial, Helvetica, sans-serif;
  color: #522d5b;
  padding: 30px;
  text-align: center;
}

.border {
  border: solid 1px #faf1bd;
  border-radius: 12px;
  max-width: 500px;
  margin: 12px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1 {
  margin-top: 10px;
  font-size: 24px;
  color: #725e77;
  font-family: "Crete Round", serif;
}

h2 {
  font-size: 18px;
  color: #614c68;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}

#city {
  text-align: left;
  font-size: 29px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Crete Round", serif;
}
.form-area {
  padding: 15px;
}

.type-city {
  border-radius: 5px;
  border-right-color: #fee140;
  border-top: #fee140;
  border-left-color: #fa709a;
  border-bottom-color: #fa709a;
}

.click-search {
  background-color: white;
  border-radius: 15px;
  border: solid 2px orange;
}

.here-search {
  background-color: white;
  opacity: 70%;
  border-radius: 15px;
  border: solid 2px rgb(245, 185, 73);
}

ul {
  color: #522d5b;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 17px;
  top: 5px;
}

.temperature {
  font-size: 58px;
  font-family: "Lemonada", cursive;
}

.unit {
  position: relative;
  top: -30px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Lemonada", cursive;
}

.weather-icon {
  position: relative;
  top: -10px;
  color: #522d5b;
}

p {
  text-align: center;
  font-size: 15px;
  color: white;
  margin-top: 15px;
   font-family: "Lemonada", cursive;
  
}

footer {
  font-size: 15px;
  margin-left: 15px;
  text-align: left;
  color: #faf1bd;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  color: #774285;
  border-style: hidden;
  border-radius: 20px;
  background-color: pink;
  opacity: 50%;
  padding: 10px;
}

.weather-forecast-date {
  font-size: 18px;
  border: solid 1px rgb(238, 206, 147);
  border-radius: 50px;
  margin-top: 10px;
   font-family: "Lemonada", cursive;
   font-weight:lighter;
}

.weather-forecast-temp {
  font-size: 13px;
   font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  color: #4a2753;
}
}
